/*header css*/

nav ul li {
    display: inline;
    font-size: 1.5em;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: black;
}

h1 {
    text-align: center;
    font-size:100px;
    color: white;
}

li.signuplink {
    padding-left: 20px;
}

li.driverslink {
    color: black;
    padding-right:20px;
}

li.wait_link {
    color: black;
    padding-right:1030px;
}

/*body css*/
body {
    background-color: #a4a6ab;
}

h2.logtitle {
    padding-top: 50px;
    text-align: center;
    font-size: 3.5rem;
}

form.login {
    padding-left: 690px;
    padding-top: 30px;
}