<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Oracle Corporation//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>CreateUser</servlet-name>
        <servlet-class>myapp.CreateUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateUser</servlet-name>
        <url-pattern>/createUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>accountCreation</servlet-name>
        <servlet-class>myapp.AccountCreationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>accountCreation</servlet-name>
        <url-pattern>/accountCreation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>sessionLogin</servlet-name>
        <servlet-class>myapp.SessionLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sessionLogin</servlet-name>
        <url-pattern>/sessionLogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>signout</servlet-name>
        <servlet-class>myapp.SignoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signout</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>getDrivers</servlet-name>
        <servlet-class>main.java.myapp.GetDrivers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getDrivers</servlet-name>
        <url-pattern>/getDrivers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>sendAddress</servlet-name>
        <servlet-class>myapp.SendAddress</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sendAddress</servlet-name>
        <url-pattern>/sendAddress</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>requestDriver</servlet-name>
        <servlet-class>main.java.myapp.RequestDriver</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>requestDriver</servlet-name>
        <url-pattern>/requestDriver</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
